# Process Tweets

In [37]:
import pandas as pd
import json

In [48]:
data_file = "../data/tweets/wfh.json"
data = json.load(open(data_file))
df = pd.DataFrame(data["data"])
relevant_df = df[["id", "author_id", "text", "created_at", "source"]]
relevant_df.head()

,id,author_id,text,created_at,source
0,1438249863892791298,1132449756888756224,RT @martinhoyes: #csr #sustainability #adp #co...,2021-09-15T21:14:23.000Z,Twitter Web App
1,1438249822142664704,41595672,"RT @RivkahBrown: If WFH is a bonus, commuting ...",2021-09-15T21:14:13.000Z,Twitter for iPhone
2,1438249781520830464,1241331510965202944,RT @msamuelOfficial: Funniest part about WFH i...,2021-09-15T21:14:03.000Z,Twitter for Android
3,1438249614042271744,1026635630569086981,RT @jhong: Expect more hugely successful start...,2021-09-15T21:13:24.000Z,Twitter Web App
4,1438249539626885120,1132449756888756224,RT @martinhoyes: #csr #sustainability #adp #co...,2021-09-15T21:13:06.000Z,Twitter Web App

In [49]:
data_file1 = "../data/tweets/WorkFromHome_1.json"
data1 = json.load(open(data_file1))
df1 = pd.DataFrame(data1["data"])
relevant_df1 = df1[["id", "author_id", "text", "created_at", "source"]]
relevant_df1.head()

,id,author_id,text,created_at,source
0,1439950345715683328,1129284603003334656,How We helped tailors during pandemic by lever...,2021-09-20T13:51:30.000Z,Twitter for iPhone
1,1439950299976777729,1185600964297773058,RT @BlockditApp: ทำงานอยู่บ้านเพลินๆ กินวันละ ...,2021-09-20T13:51:19.000Z,Twitter for Android
2,1439949967393574921,1109554750851293184,#networkmarketers#nonlinebusiness#networkmarke...,2021-09-20T13:49:59.000Z,Greatly Social
3,1439949846950068227,883522079101902850,Discover 7 Ways To Create A Passive Income for...,2021-09-20T13:49:31.000Z,IFTTT
4,1439949744621580294,70798741,Daily coworker photo: election day disapproval...,2021-09-20T13:49:06.000Z,Twitter for iPhone

In [50]:
data_file2 = "../data/tweets/WorkFromHome_2.json"
data2 = json.load(open(data_file2))
df2 = pd.DataFrame(data2["data"])
relevant_df2 = df2[["id", "author_id", "text", "created_at", "source"]]
relevant_df2.head()

,id,author_id,text,created_at,source
0,1439933931684573186,219401992,Insider's Guide To College Success: The Underg...,2021-09-20T12:46:16.000Z,IFTTT
1,1439933757130170372,1419165551679754241,RT @healthy_forces: Keto Granola Cereal\n\n#re...,2021-09-20T12:45:35.000Z,Twitter Web App
2,1439933743284752394,1419165551679754241,RT @healthy_forces: Pimento Cheese Dip\n\n#ree...,2021-09-20T12:45:31.000Z,Twitter Web App
3,1439933731347832841,1419165551679754241,RT @healthy_forces: Cold Zucchini Salad\n\n#re...,2021-09-20T12:45:28.000Z,Twitter Web App
4,1439933716697079813,1419165551679754241,RT @healthy_forces: Keto Spinach Artichoke Stu...,2021-09-20T12:45:25.000Z,Twitter Web App

In [51]:
data_file3 = "../data/tweets/WorkFromHome_3.json"
data3 = json.load(open(data_file3))
df3 = pd.DataFrame(data3["data"])
relevant_df3 = df3[["id", "author_id", "text", "created_at", "source"]]
relevant_df3.head()

,id,author_id,text,created_at,source
0,1439922297029201928,1101143848397418496,"Get ready for #remote #job as ""QA ENGINEER"" fo...",2021-09-20T12:00:02.000Z,Remote Jobs Vault
1,1439922255572656134,1297692149597851650,RT @StudyWithMusic1: This our brand new video ...,2021-09-20T11:59:52.000Z,Twitter
2,1439922191571865603,1296505985142587393,This our brand new video in the Study With Bac...,2021-09-20T11:59:37.000Z,Twitter Web App
3,1439921889195950083,1426165697042735104,"Oh, it's Monday😭 #mondaythoughts #dailymotivat...",2021-09-20T11:58:25.000Z,Twitter Web App
4,1439921536136253443,934159163306807296,RT @VACafeOnline: We've all been given a finit...,2021-09-20T11:57:01.000Z,SocialBee.io v2

In [52]:
data_file4 = "../data/tweets/WorkFromHome_4.json"
data4 = json.load(open(data_file4))
df4 = pd.DataFrame(data4["data"])
relevant_df4 = df4[["id", "author_id", "text", "created_at", "source"]]
relevant_df4.head()

,id,author_id,text,created_at,source
0,1439903351076900868,1099992057211346945,RT @scarfqueens: Scarf Queen Roxy M - Rocking ...,2021-09-20T10:44:45.000Z,Twitter for iPhone
1,1439903347004239876,1395562653003571205,RT @BlockditApp: ทำงานอยู่บ้านเพลินๆ กินวันละ ...,2021-09-20T10:44:44.000Z,Twitter for iPhone
2,1439903283699613700,2192551021,RT @BlockditApp: ทำงานอยู่บ้านเพลินๆ กินวันละ ...,2021-09-20T10:44:29.000Z,Twitter for iPhone
3,1439903232717819904,1194128085274116096,RT @BlockditApp: ทำงานอยู่บ้านเพลินๆ กินวันละ ...,2021-09-20T10:44:17.000Z,Twitter for Android
4,1439903217618276357,971604230770278400,RT @BlockditApp: ทำงานอยู่บ้านเพลินๆ กินวันละ ...,2021-09-20T10:44:13.000Z,Twitter for Android

In [53]:
data_file5 = "../data/tweets/WorkFromHome_5.json"
data5 = json.load(open(data_file5))
df5 = pd.DataFrame(data5["data"])
relevant_df5 = df5[["id", "author_id", "text", "created_at", "source"]]
relevant_df5.head()

,id,author_id,text,created_at,source
0,1439887560927502339,1314873062853169159,💼 New Job: System administrator https://t.co/e...,2021-09-20T09:42:00.000Z,Buffer
1,1439887399992152064,830906977169637377,Successes online will take one to be sharp and...,2021-09-20T09:41:22.000Z,JamesHicksMLM Publishing App
2,1439887395587956740,55186601,#NSTnation Work from home arrangements are gra...,2021-09-20T09:41:21.000Z,Twitter Web App
3,1439887090674700293,89955122,💸 #onlinebusiness Turn Your Writing Into Ca...,2021-09-20T09:40:08.000Z,SocialOomph
4,1439887075428519936,313933091,Who has been recruiting lots of teachers since...,2021-09-20T09:40:05.000Z,Twitter for iPhone

In [54]:
frames = [relevant_df, relevant_df1, relevant_df2, relevant_df3, relevant_df4, relevant_df5]

In [58]:
result = pd.concat(frames)

In [59]:
result.head()

,id,author_id,text,created_at,source
0,1438249863892791298,1132449756888756224,RT @martinhoyes: #csr #sustainability #adp #co...,2021-09-15T21:14:23.000Z,Twitter Web App
1,1438249822142664704,41595672,"RT @RivkahBrown: If WFH is a bonus, commuting ...",2021-09-15T21:14:13.000Z,Twitter for iPhone
2,1438249781520830464,1241331510965202944,RT @msamuelOfficial: Funniest part about WFH i...,2021-09-15T21:14:03.000Z,Twitter for Android
3,1438249614042271744,1026635630569086981,RT @jhong: Expect more hugely successful start...,2021-09-15T21:13:24.000Z,Twitter Web App
4,1438249539626885120,1132449756888756224,RT @martinhoyes: #csr #sustainability #adp #co...,2021-09-15T21:13:06.000Z,Twitter Web App

In [60]:
result.describe()

,id,author_id,text,created_at,source
count,550,550,550,550,550
unique,550,403,454,540,74
top,1439903397600120832,1195081084230414339,RT @BlockditApp: ทำงานอยู่บ้านเพลินๆ กินวันละ ...,2021-09-20T13:14:43.000Z,Twitter Web App
freq,1,26,39,2,144

In [61]:
result["text"]

0     RT @martinhoyes: #csr #sustainability #adp #co...
1     RT @RivkahBrown: If WFH is a bonus, commuting ...
2     RT @msamuelOfficial: Funniest part about WFH i...
3     RT @jhong: Expect more hugely successful start...
4     RT @martinhoyes: #csr #sustainability #adp #co...
                            ...
95    Does working from home mean more people will r...
96    Future Focused: The 2021 Cybersecurity Landsca...
97    Multiple times power being snapped today in #A...
98    RT @TechjobApp: 📣 #JobAlert\n\n🧑‍💻 Senior in #...
99    RT @mymoneytips: $250 Daily Formula: https://t...
Name: text, Length: 550, dtype: object

In [62]:
result.to_csv("wfh.csv")